{
  "openapi": "3.0.0",
  "info": {
    "title": "Pulsenote API",
    "description": "Pulsenote email notification platform API. Use your tenant API key (X-API-Key header) to authenticate notification endpoints, or Bearer JWT token for user/team management endpoints.",
    "version": "1.0",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://pulsenote-api.sysgp.eu",
      "description": "Production"
    }
  ],
  "tags": [
    {
      "name": "Notifications",
      "description": "Send and track email notifications"
    },
    {
      "name": "Templates",
      "description": "Manage email templates"
    },
    {
      "name": "Domains",
      "description": "Manage sender domains and DNS verification"
    }
  ],
  "paths": {
    "/api/v1/notifications/send": {
      "post": {
        "description": "Queues an email for delivery. Returns immediately with the notification ID.",
        "operationId": "sendNotification",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SendEmailDto"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Notification queued successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SendEmailResponseDto"
                }
              }
            }
          },
          "401": {
            "description": "Invalid API key"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "security": [
          {
            "api-key": []
          }
        ],
        "summary": "Send an email notification",
        "tags": [
          "Notifications"
        ]
      }
    },
    "/api/v1/notifications/stats": {
      "get": {
        "description": "Returns total counts by status, daily breakdown for last 30 days, and this month total.",
        "operationId": "getNotificationStats",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Aggregate statistics",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotificationStatsDto"
                }
              }
            }
          }
        },
        "security": [
          {
            "api-key": []
          }
        ],
        "summary": "Get notification statistics",
        "tags": [
          "Notifications"
        ]
      }
    },
    "/api/v1/notifications": {
      "get": {
        "description": "Paginated list of sent notifications for this tenant.",
        "operationId": "listNotifications",
        "parameters": [
          {
            "name": "page",
            "required": false,
            "in": "query",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "limit",
            "required": false,
            "in": "query",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "status",
            "required": false,
            "in": "query",
            "schema": {
              "enum": [
                "PENDING",
                "QUEUED",
                "SENT",
                "DELIVERED",
                "FAILED",
                "BOUNCED"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated notifications",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotificationListDto"
                }
              }
            }
          }
        },
        "security": [
          {
            "api-key": []
          }
        ],
        "summary": "List notifications",
        "tags": [
          "Notifications"
        ]
      }
    },
    "/api/v1/notifications/{id}": {
      "get": {
        "description": "Returns full details of a single notification including delivery status.",
        "operationId": "getNotification",
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "path",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Notification detail",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotificationDto"
                }
              }
            }
          },
          "404": {
            "description": "Notification not found"
          }
        },
        "security": [
          {
            "api-key": []
          }
        ],
        "summary": "Get notification by ID",
        "tags": [
          "Notifications"
        ]
      }
    },
    "/api/v1/templates": {
      "get": {
        "description": "Returns all templates. Optionally filter by locale.",
        "operationId": "listTemplates",
        "parameters": [
          {
            "name": "locale",
            "required": false,
            "in": "query",
            "description": "Filter by locale (e.g. en, pl)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Templates",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TemplateDto"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "api-key": []
          }
        ],
        "summary": "List templates",
        "tags": [
          "Templates"
        ]
      },
      "post": {
        "description": "Create a new template. Set locale to create a translated version.",
        "operationId": "createTemplate",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpsertTemplateDto"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TemplateDto"
                }
              }
            }
          }
        },
        "security": [
          {
            "api-key": []
          }
        ],
        "summary": "Create template",
        "tags": [
          "Templates"
        ]
      }
    },
    "/api/v1/templates/slug/{slug}/locales": {
      "get": {
        "description": "Returns all locale versions of a template by slug.",
        "operationId": "listTemplateLocales",
        "parameters": [
          {
            "name": "slug",
            "required": true,
            "in": "path",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Locale variants",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TemplateDto"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "api-key": []
          }
        ],
        "summary": "List all locale variants",
        "tags": [
          "Templates"
        ]
      }
    },
    "/api/v1/templates/{id}": {
      "get": {
        "operationId": "getTemplate",
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "path",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Template",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TemplateDto"
                }
              }
            }
          },
          "404": {
            "description": "Template not found"
          }
        },
        "security": [
          {
            "api-key": []
          }
        ],
        "summary": "Get template by ID",
        "tags": [
          "Templates"
        ]
      },
      "put": {
        "operationId": "updateTemplate",
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "path",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpsertTemplateDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TemplateDto"
                }
              }
            }
          }
        },
        "security": [
          {
            "api-key": []
          }
        ],
        "summary": "Update template",
        "tags": [
          "Templates"
        ]
      },
      "delete": {
        "operationId": "deleteTemplate",
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "path",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted"
          }
        },
        "security": [
          {
            "api-key": []
          }
        ],
        "summary": "Delete template",
        "tags": [
          "Templates"
        ]
      }
    },
    "/api/v1/templates/{id}/render": {
      "post": {
        "description": "Render template with sample data for preview.",
        "operationId": "renderTemplate",
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "path",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RenderTemplateDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Rendered output",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RenderedTemplateDto"
                }
              }
            }
          }
        },
        "security": [
          {
            "api-key": []
          }
        ],
        "summary": "Preview template",
        "tags": [
          "Templates"
        ]
      }
    },
    "/api/v1/domains": {
      "get": {
        "operationId": "listDomains",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Domains",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DomainDto"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "api-key": []
          }
        ],
        "summary": "List sender domains",
        "tags": [
          "Domains"
        ]
      },
      "post": {
        "description": "Registers the domain with SES and returns the DNS records to publish.",
        "operationId": "addDomain",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddDomainDto"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Domain registered",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DomainDto"
                }
              }
            }
          },
          "409": {
            "description": "Domain already registered"
          }
        },
        "security": [
          {
            "api-key": []
          }
        ],
        "summary": "Add a sender domain",
        "tags": [
          "Domains"
        ]
      }
    },
    "/api/v1/domains/{id}/dns-records": {
      "get": {
        "description": "Returns the DNS records to publish and per-record verification state.",
        "operationId": "getDomainDnsRecords",
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "path",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "DNS records",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DomainDnsRecordsDto"
                }
              }
            }
          },
          "404": {
            "description": "Domain not found"
          }
        },
        "security": [
          {
            "api-key": []
          }
        ],
        "summary": "Get DNS records",
        "tags": [
          "Domains"
        ]
      }
    },
    "/api/v1/domains/{id}/zone-file": {
      "get": {
        "description": "Returns a ready-to-import BIND zone file with all required DNS records.",
        "operationId": "getDomainZoneFile",
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "path",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Zone file (text/plain attachment)"
          }
        },
        "security": [
          {
            "api-key": []
          }
        ],
        "summary": "Download BIND zone file",
        "tags": [
          "Domains"
        ]
      }
    },
    "/api/v1/domains/{id}/verify": {
      "post": {
        "description": "Re-checks SES + DNS state and updates the domain status.",
        "operationId": "verifyDomain",
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "path",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Verification result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DomainDto"
                }
              }
            }
          },
          "404": {
            "description": "Domain not found"
          }
        },
        "security": [
          {
            "api-key": []
          }
        ],
        "summary": "Trigger domain verification",
        "tags": [
          "Domains"
        ]
      }
    },
    "/api/v1/domains/{id}": {
      "delete": {
        "description": "Removes the domain from SES and Pulsenote.",
        "operationId": "deleteDomain",
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "path",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted"
          },
          "404": {
            "description": "Domain not found"
          }
        },
        "security": [
          {
            "api-key": []
          }
        ],
        "summary": "Delete a sender domain",
        "tags": [
          "Domains"
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "api-key": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key",
        "description": "Tenant API key for notification endpoints"
      }
    },
    "schemas": {
      "AddDomainDto": {
        "type": "object",
        "properties": {
          "domain": {
            "type": "string",
            "description": "Domain to send from, e.g. mail.example.com."
          },
          "fromEmail": {
            "type": "string",
            "format": "email",
            "description": "Default from address for this domain. Defaults to noreply@<domain>."
          },
          "fromName": {
            "type": "string",
            "description": "Default display name for this domain."
          }
        },
        "required": [
          "domain"
        ]
      },
      "DnsRecordDto": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "CNAME",
              "MX",
              "TXT"
            ]
          },
          "name": {
            "type": "string",
            "description": "Record name/host."
          },
          "value": {
            "type": "string",
            "description": "Record value."
          },
          "purpose": {
            "type": "string",
            "description": "What this record is for."
          },
          "priority": {
            "type": "number",
            "description": "Priority (MX records only)."
          }
        },
        "required": [
          "type",
          "name",
          "value",
          "purpose"
        ]
      },
      "DomainDnsRecordsDto": {
        "type": "object",
        "properties": {
          "domain": {
            "type": "string"
          },
          "status": {
            "enum": [
              "PENDING",
              "VERIFYING",
              "VERIFIED",
              "FAILED"
            ],
            "type": "string"
          },
          "records": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DnsRecordDto"
            }
          },
          "spfVerified": {
            "type": "boolean"
          },
          "dkimVerified": {
            "type": "boolean"
          },
          "dmarcVerified": {
            "type": "boolean"
          }
        },
        "required": [
          "domain",
          "status",
          "records",
          "spfVerified",
          "dkimVerified",
          "dmarcVerified"
        ]
      },
      "DomainDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "domain": {
            "type": "string"
          },
          "status": {
            "enum": [
              "PENDING",
              "VERIFYING",
              "VERIFIED",
              "FAILED"
            ],
            "type": "string",
            "description": "Verification status."
          },
          "spfVerified": {
            "type": "boolean",
            "description": "Whether the SPF (MAIL FROM) record is verified."
          },
          "dkimVerified": {
            "type": "boolean",
            "description": "Whether DKIM signing is verified."
          },
          "dmarcVerified": {
            "type": "boolean",
            "description": "Whether a DMARC policy is present."
          },
          "fromEmail": {
            "type": "string",
            "description": "Default from address for this domain."
          },
          "fromName": {
            "type": "string",
            "description": "Default display name."
          },
          "isDefault": {
            "type": "boolean",
            "description": "Whether this is the tenant default sender domain."
          },
          "verifiedAt": {
            "type": "string",
            "format": "date-time"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          },
          "dnsRecords": {
            "description": "DNS records to publish (returned on add/verify).",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DnsRecordDto"
            }
          }
        },
        "required": [
          "id",
          "domain",
          "status",
          "spfVerified",
          "dkimVerified",
          "dmarcVerified",
          "isDefault",
          "createdAt",
          "updatedAt"
        ]
      },
      "NotificationDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "recipient": {
            "type": "string",
            "description": "Recipient email address."
          },
          "subject": {
            "type": "string",
            "description": "Email subject line."
          },
          "templateId": {
            "type": "string",
            "description": "ID of the template used, if any.",
            "format": "uuid"
          },
          "status": {
            "enum": [
              "PENDING",
              "QUEUED",
              "SENT",
              "DELIVERED",
              "FAILED",
              "BOUNCED"
            ],
            "type": "string",
            "description": "Current delivery status."
          },
          "providerMessageId": {
            "type": "string",
            "description": "Upstream provider (SES) message ID."
          },
          "sentAt": {
            "type": "string",
            "format": "date-time",
            "description": "When the email was handed to the provider."
          },
          "deliveredAt": {
            "type": "string",
            "format": "date-time",
            "description": "When delivery was confirmed."
          },
          "failedAt": {
            "type": "string",
            "format": "date-time",
            "description": "When the send failed."
          },
          "failureReason": {
            "type": "string",
            "description": "Reason for failure, if failed or bounced."
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "recipient",
          "status",
          "createdAt",
          "updatedAt"
        ]
      },
      "NotificationListDto": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/NotificationDto"
            }
          },
          "meta": {
            "$ref": "#/components/schemas/PaginationMetaDto"
          }
        },
        "required": [
          "data",
          "meta"
        ]
      },
      "NotificationStatsDto": {
        "type": "object",
        "properties": {
          "total": {
            "type": "number",
            "description": "Total notifications across all statuses."
          },
          "counts": {
            "type": "object",
            "description": "Count keyed by status.",
            "additionalProperties": {
              "type": "integer"
            },
            "example": {
              "DELIVERED": 120,
              "BOUNCED": 3,
              "QUEUED": 5
            }
          },
          "thisMonth": {
            "type": "number",
            "description": "Total notifications sent this calendar month."
          },
          "daily": {
            "type": "array",
            "description": "Per-day counts by status for the last 30 days.",
            "items": {
              "type": "object",
              "additionalProperties": true
            },
            "example": [
              {
                "date": "2026-07-08",
                "DELIVERED": 40,
                "BOUNCED": 1
              }
            ]
          }
        },
        "required": [
          "total",
          "counts",
          "thisMonth",
          "daily"
        ]
      },
      "PaginationMetaDto": {
        "type": "object",
        "properties": {
          "total": {
            "type": "number",
            "description": "Total number of matching records."
          },
          "page": {
            "type": "number",
            "description": "Current page (1-based)."
          },
          "limit": {
            "type": "number",
            "description": "Page size."
          },
          "pages": {
            "type": "number",
            "description": "Total number of pages."
          }
        },
        "required": [
          "total",
          "page",
          "limit",
          "pages"
        ]
      },
      "RenderTemplateDto": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "additionalProperties": true,
            "description": "Sample data to interpolate into the template."
          }
        }
      },
      "RenderedTemplateDto": {
        "type": "object",
        "properties": {
          "subject": {
            "type": "string"
          },
          "html": {
            "type": "string",
            "description": "Rendered HTML body."
          },
          "text": {
            "type": "string",
            "description": "Rendered plain-text body."
          }
        },
        "required": [
          "html"
        ]
      },
      "SendEmailDto": {
        "type": "object",
        "properties": {
          "to": {
            "type": "string",
            "format": "email",
            "description": "Recipient email address."
          },
          "from": {
            "type": "string",
            "description": "Sender address on a verified domain. Defaults to the tenant default sender."
          },
          "subject": {
            "type": "string",
            "description": "Email subject line. Ignored when a template supplies its own subject."
          },
          "templateId": {
            "type": "string",
            "description": "Send using a stored template by ID.",
            "format": "uuid"
          },
          "templateSlug": {
            "type": "string",
            "description": "Send using a stored template by slug."
          },
          "locale": {
            "type": "string",
            "description": "Locale of the template variant to use (e.g. en, pl)."
          },
          "templateData": {
            "type": "object",
            "additionalProperties": true,
            "description": "Variables interpolated into the template."
          },
          "html": {
            "type": "string",
            "description": "Raw HTML body (when not using a template)."
          },
          "text": {
            "type": "string",
            "description": "Plain-text body."
          }
        },
        "required": [
          "to"
        ]
      },
      "SendEmailResponseDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "ID of the queued notification.",
            "format": "uuid"
          },
          "status": {
            "enum": [
              "PENDING",
              "QUEUED",
              "SENT",
              "DELIVERED",
              "FAILED",
              "BOUNCED"
            ],
            "type": "string",
            "description": "Status at time of acceptance (always QUEUED)."
          },
          "from": {
            "type": "string",
            "description": "Resolved sender address the email will be sent from."
          }
        },
        "required": [
          "id",
          "status",
          "from"
        ]
      },
      "TemplateDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "slug": {
            "type": "string"
          },
          "locale": {
            "type": "string",
            "description": "Locale of this variant."
          },
          "subject": {
            "type": "string"
          },
          "body": {
            "type": "string",
            "description": "Template body (HTML)."
          },
          "isActive": {
            "type": "boolean"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "name",
          "slug",
          "locale",
          "body",
          "isActive",
          "createdAt",
          "updatedAt"
        ]
      },
      "UpsertTemplateDto": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Human-readable template name."
          },
          "slug": {
            "type": "string",
            "description": "URL-safe identifier, unique per tenant + locale."
          },
          "subject": {
            "type": "string",
            "description": "Subject line. Supports template variables."
          },
          "body": {
            "type": "string",
            "description": "Template body (HTML). Supports variable interpolation."
          },
          "locale": {
            "type": "string",
            "description": "Locale of this variant (e.g. en, pl). Defaults to en."
          },
          "metadata": {
            "type": "object",
            "additionalProperties": true,
            "description": "Arbitrary template metadata."
          }
        },
        "required": [
          "name",
          "slug",
          "body"
        ]
      }
    }
  }
}